# Virtual Environments
.venv/
venv/
ENV/
env/

# Python cache / bytecode
__pycache__/
*.py[cod]
*$py.class

# Testing
.pytest_cache/
.coverage
coverage.xml

# IDE / OS
.vscode/
.idea/
.DS_Store

# Home Assistant local development
config/
.storage/
